<!doctype html>
<html lang="en">
<head th:replace="admin/public/header"></head>
<body>
    <!-- 顶部开始 -->
    <div th:replace="admin/public/topBanner"></div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->

     <!-- 左侧菜单开始 -->
    <div th:replace="admin/public/leftMenu"></div>
    <!-- 左侧菜单结束 -->

    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/admin/article/list' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2018 Tobeyond All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
</body>
<script type="text/javascript" src="/adminResource/js/tobeyond.js"></script>
<script>
    function logout() {
        var _csrf = $("#_csrf").val();
        if(null == _csrf) return false;

        T_POST('/admin/logout',
            {
                _csrf : _csrf
            },
            function (data) {
                if (data.success == true) {
                    layer.msg(data.message,function(){
                        location.href='/admin/login'
                    });
                } else {
                    layer.msg(data.message, {icon: 2});
                }
            }
        );
    }
</script>
</html>