<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

    <h1 id="fh5co-logo"><a href="index.html">Tobeyond</a></h1>
    <nav id="fh5co-main-menu" role="navigation">
        <ul>
            <li th:class="(${#request.getRequestURI()}=='/')?'fh5co-active':''"><a th:href="@{/}">首页</a></li>
            <li th:class="(${#request.getRequestURI()}=='/articleList')?'fh5co-active':''"><a th:href="@{/articleList}">文章列表</a></li>
            <li th:class="(${#request.getRequestURI()}=='/about')?'fh5co-active':''"><a th:href="@{/about}">关于</a></li>
            <li th:class="(${#request.getRequestURI()}=='/contact')?'fh5co-active':''"><a th:href="@{/contact}">留言</a></li>
        </ul>
    </nav>

    <div class="fh5co-footer">
        <p>
            <small>
                <span>桂ICP备17008392号</span>
            </small>
        </p>
        <!--<ul>-->
            <!--<li><a href="#"><i class="icon-facebook2"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-twitter2"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-instagram"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-linkedin2"></i></a></li>-->
        <!--</ul>-->
    </div>

</aside>
