.tag{
    font-size: 85%;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    text-transform: none;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.lists-navigator {
    margin: 30px 0 35px
}

.lists-navigator ol {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: center
}

.lists-navigator ol li {
    display: inline-block;
    color: #5f5f5f
}

.lists-navigator ol li a {
    font-size: 14px;
    padding: 0 20px;
    color: #5f5f5f
}

.lists-navigator ol li.current a {
    color: #6fa3ef
}

#comments .lists-navigator {
    margin: 20px 0
}

#comments .lists-navigator ol {
    margin: 20px 0;
    padding: 0 10px;
    list-style: none;
    text-align: center
}

#comments .lists-navigator ol li.current a {
    color: #6fa3ef
}