<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head th:replace="public/header"></head>
<!--代码高亮,highlightjs-->
<link rel="stylesheet" th:href="@{/frontend/lib/highlightjs/darcula.css}">
<style>
    pre{
        padding: 0;
    }
</style>
<body>
<div id="fh5co-page">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

    <aside th:replace="public/leftMenu"></aside>

    <div id="fh5co-main">

        <div class="fh5co-narrow-content animate-box fh5co-border-bottom" data-animate-effect="fadeInLeft">
            <h2 class="fh5co-heading" th:text="${article.title}" style="font-size: 36px">Nature</span></h2>
            <!--<div th:utext=${article.content}></div>-->
            <block th:utext=${article.content} />

            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>

    </div>
</div>

<!-- jQuery -->
<script th:src="@{/frontend/js/jquery.min.js}" src=""></script>
<!-- jQuery Easing -->
<script th:src="@{/frontend/js/jquery.easing.1.3.js}" src=""></script>
<!-- Bootstrap -->
<script th:src="@{/frontend/js/bootstrap.min.js}" src=""></script>
<!-- Waypoints -->
<script th:src="@{/frontend/js/jquery.waypoints.min.js}" src=""></script>
<!-- Flexslider -->
<script th:src="@{/frontend/js/jquery.flexslider-min.js}" src=""></script>
<script th:src="@{//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js}"></script>
<script>
//    代码高亮,highlightjs
    hljs.initHighlightingOnLoad();
</script>

<!-- MAIN JS -->
<script th:src="@{/frontend/js/main.js}"></script>

</body>
</html>

